build*/
.build*/
lhelper/
submodules/
subprojects/*/
/appimage*
.vscode
.cache
.ccls-cache
.lite-debug.log
.run*
*.diff
*.exe
*.tar.gz
*.zip
*.DS_Store
*App*
compile_commands.json
error.txt
lite-xl*
LiteXL*

!resources/windows/*.diff
!resources/windows/*.exe.manifest.in
!resources/macos/*.py
!scripts/innosetup/lite-xl@*.bmp
!scripts/innosetup/lite-xl-banner@*.bmp
