build*/
.build*/
lhelper/
submodules/
subprojects/lua/
subprojects/libagg/
subprojects/reproc/
.ccls-cache
.lite-debug.log
.run*
*.diff
*.tar.gz
*.zip
*.DS_Store
*App*
appimage*
compile_commands.json
error.txt
lite-xl*
